@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* In your global.css or similar file */
:root {
  --color-primary: #5B21B6;
  --color-secondary: #10B981;

  --color-primary-opacity: rgba(91, 33, 182, 0.4); /* Adjust the opacity value (0.4) as needed */
  --color-secondary-opacity: rgba(16, 185, 129, 0.4);

  --text-color: #081421c5;
  --text-color-dark: #d1d5db; /* Assuming slate-300 is close to d1d5db */
  --bg-color: #e5e7eb; /* Assuming slate-200 is close to e5e7eb */
  --bg-color-dark: #001412;
}

@layer components {
  .custom-text-bg {
    @apply text-textColor dark:text-textColorDark bg-bgColor dark:bg-bgColorDark;
  }
  .only-txt{
    @apply text-textColor dark:text-textColorDark;
  }
  .only-txt-reverse{
    @apply text-textColorDark dark:text-textColor;
  }
}

body {
  overflow-y: scroll; /* Keep the browser behavior of having the vertical scroll */
  scrollbar-width: none; /* For Firefox */
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

html {
  scroll-behavior: smooth;
}

/* Header 1 */
h1 {
  font-size: 2.986rem;
}

/* Header 2 */
h2 {
  font-size: 2.488rem;
}

/* Header 3 */
h3 {
  font-size: 2.074rem;
}

/* Header 4 */
h4 {
  font-size: 1.728rem;
}

/* Header 5 */
h5 {
  font-size: 1.44rem;
}

/* Header 6 */
h6 {
  font-size: 1.2rem;
}

/* Paragraph */
p {
  font-size: 1rem;
}

/* Small Text */
small {
  font-size: 0.833rem;
}

/* Extra Small Text */
/* If you meant to have a font size of 0.694rem for some elements, 
   you can add a specific class to those elements and apply this style */
.small-text {
  font-size: 0.694rem;
}


.card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

/* .stroke-text {
  text-shadow: 3px 2px #000;
} */

/* .mobile-nav {
  @apply block md:hidden fixed top-10 py-2 w-full h-full bg-gray-900 duration-500;
}  */

.scroll-container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh; 
}

.snap-element {
    scroll-snap-align: start;
}

/* .scroll-container {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
  scrollbar-width: none; 
}
*/

.scroll-container::-webkit-scrollbar {
  display: none; 
} 

.slide-right{animation:slide-right 2.5s cubic-bezier(.25,.46,.45,.94) both}

/* Ensure the container has defined bounds */
.image-container {
  height: 300px; /* Adjust the height as needed */
  width: 100%;
  position: relative; /* Position relative for the absolute positioned child */
  overflow: hidden; /* Hide overflow to prevent scrollbars */
  border-radius: 8px; /* Adjust the border-radius as needed */
}

/* Set the image to cover the space */
.image {
  height: 100%;
  width: 100%;
  object-fit: cover; /* Cover the container, may crop the image */
  object-position: top; /* Center the image within the container */
  border-radius: 8px; /* Match the border-radius of the container */
}
